SECRET_KEY=NhTm1AtSqbqSq6U_sZfs3znJjvhDsdDVwuCxLUj4yPMNZaiGytpFcItZo5nPOo2fjN0
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
MONGODB_URI=mongodb+srv://moodifyme:moodifymeproject123@moodifyme.zynsf6i.mongodb.net/?retryWrites=true&w=majority&appName=MoodifyMe
SPOTIFY_CLIENT_ID=aef9bb0329724587871eb55cd45185fb
SPOTIFY_CLIENT_SECRET=ab24b7ea94504b8399c2c1993c975acd
GOOGLE_BOOKS_API_KEY=AIzaSyB8sDH5C0U-g3EAf8is93eyRFOrGiXYWl0
OMDB_API_KEY=35844947