SECRET_KEY=NhTm1AtSqbqSq6U_sZfs3znJjvhDsdDVwuCxLUj4yPMNZaiGytpFcItZo5nPOo2fjN0
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
SPOTIFY_CLIENT_ID=0e34d84db9f044e785ebede1769d8693
SPOTIFY_CLIENT_SECRET=b75f396bad4e499599db99cc18d2af9b
GOOGLE_BOOKS_API_KEY=AIzaSyB8sDH5C0U-g3EAf8is93eyRFOrGiXYWl0
REACT_APP_API_URL=http://localhost:5000
OMDB_API_KEY=5759349a
FREE_MOVIE_DB_API_URL=https://imdb.iamidiotareyoutoo.com
TMDB_API_KEY=cfea14bd15c392a8d6b4cb651971c5d8
